<p id="notice"><%= notice %></p>

<h1>Sample Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sample_articles.each do |sample_article| %>
      <tr>
        <td><%= sample_article.title %></td>
        <td><%= sample_article.content %></td>
        <td><%= link_to 'Show', sample_article %></td>
        <td><%= link_to 'Edit', edit_sample_article_path(sample_article) %></td>
        <td><%= link_to 'Destroy', sample_article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sample Article', new_sample_article_path %>
